wex-onboarding/.vs/wex-onboarding/v16/TestStore/0/000.testlog
wex-onboarding/.vs/wex-onboarding/v16/TestStore/0/testlog.manifest
wex-onboarding/bin/Debug/netcoreapp3.1/nunit_random_seed.tmp
wex-onboarding/bin/Debug/netcoreapp3.1/wex-onboarding.deps.json
wex-onboarding/bin/Debug/netcoreapp3.1/wex-onboarding.runtimeconfig.dev.json
wex-onboarding/bin/Debug/netcoreapp3.1/wex-onboarding.runtimeconfig.json
wex-onboarding/bin/Debug/netcoreapp3.1/Files/InputFile.xml
wex-onboarding/obj/project.assets.json
wex-onboarding/obj/wex-onboarding.csproj.nuget.dgspec.json
wex-onboarding/obj/wex-onboarding.csproj.nuget.g.props
wex-onboarding/obj/wex-onboarding.csproj.nuget.g.targets
wex-onboarding/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
wex-onboarding/obj/Debug/netcoreapp3.1/wex-onboarding.AssemblyInfo.cs
wex-onboarding/obj/Debug/netcoreapp3.1/wex-onboarding.csproj.CopyComplete
wex-onboarding/obj/Debug/netcoreapp3.1/wex-onboarding.csproj.FileListAbsolute.txt
wex-onboarding/obj/Debug/netcoreapp3.1/wex-onboarding.GeneratedMSBuildEditorConfig.editorconfig
wex-onboarding/.vs/wex-onboarding/DesignTimeBuild/.dtbcache.v2
wex-onboarding/bin/Debug/netcoreapp3.1/Files/SNC_AOD_01102023_061442.xml.zip
wex-onboarding/bin/Debug/netcoreapp3.1/Download/Contribution.csv
wex-onboarding/.vs/wex-onboarding/v16/TestStore/0/001.testlog
wex-onboarding/.vs/wex-onboarding/v16/TestStore/0/002.testlog
